* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F7F7F7;
}

.header {
    background-color: hsl(224, 97%, 36%) !important;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex: 0 0 50%;
}

.navigation-item {
    list-style: none;
}

.logo {
    flex: 0 0 28%;
    font-weight: 800;
    text-shadow: 2px 1px 0px rgba(150, 150, 150, 0.62);
}

.icons {
    flex: 0 0 18%;
    text-align: right;
}

.main-content {
    background-color: hsl(224, 97%, 36%) !important;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(3, 50, 181, 0.52), rgba(3, 50, 181, 0.73)), url('http://localhost/e-shop/wp-content/uploads/2020/08/header-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-content {
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    color: white;
}

.heading {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content h1 {
    flex-grow: 1;
    font-size: 40px;
    letter-spacing: 8px;
}

.main-content h2 {
    flex-grow: 1;
    font-size: 20px;
    letter-spacing: 12px;
}

.btn {
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.btn button {
    background-color: hsl(224, 97%, 36%);
    padding: 20px 40px 20px 40px;
    border: 1px white solid;
    color: white;
    border-radius: 35px;
}

.servises {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.servises-heading {
    text-align: center;
    padding: 5px 0px 20px 0px;
}

.servise-item {
    flex: 0 1 250px;
    margin: 25px;
    text-align: center;
}

.projects-section {
    background-color: hsl(224, 97%, 36%);
    text-align: center;
    padding-bottom: 25px;
}

.project-btn {
    background-color: hsl(224, 97%, 36%);
    padding: 6px 15px 6px 15px;
    border: 1px white solid;
    color: white;
    border-radius: 35px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.project-btn a {
    color: white;
    text-decoration: none;
}

.projects-layout {
    display: flex;
    justify-content: space-around;
}

.project-item {
    background-color: #F7F7F7;
    padding: 5px;
}

.project-item ul {
    padding: 7px;
}

.project-item li {
    list-style: none;
    color: black;
}

.project-item h2 {
    padding: 5px;
    padding-bottom: 5px;
    background-color: blue;
    -webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
    clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
    text-align: center;
}

.project-item img {
    -webkit-filter: grayscale(100%) brightness(135%) contrast(120%);
    filter: grayscale(100%) brightness(135%) contrast(120%);
    transition: filter 0.3s, box-shadow 0.3s;
    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
}

.project-item img:hover {
    -webkit-filter: none;
    filter: none;
}

.projects- {
    padding-bottom: 25px;
}

.projects-section h2 {
    padding-bottom: 8px;
    color: white;
}

.contact-us {
    background-color: #F7F7F7;
    text-align: center;
    padding: 5px;
}

.contact-us h2 {
    color: hsl(224, 97%, 36%);
    padding-bottom: 14px;
}

.footer {
    background-color: hsl(224, 97%, 36%);
    text-align: center;
    padding: 5px;
}

.wpcf7-form.init {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.wpcf7-form-control {
    width: 96%;
    border-radius: 23px;
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid hsl(224, 97%, 36%);
    text-align: center;
    color: hsl(224, 97%, 36%);
}

::-webkit-input-placeholder {
    color: hsl(224, 97%, 36%);
}

.wpcf7-submit {
    padding-right: 40px;
    padding-left: 40px;
    background-color: hsl(224, 97%, 36%);
    color: white
}

@media only screen and (max-width: 600px) {
    .header,
    .navigation {
        flex-direction: column;
    }
    .navigation,
    .logo,
    .icons {
        flex-grow: 1;
        text-align: center;
    }
}